SUBQUERY_NODE_IMAGETAG=subquerynetwork/subql-node-substrate:v6.4.6
SUBQUERY_IMAGETAG=subquerynetwork/subql-query:v2.25.0
ACALA_ENDPOINT=wss://acala-rpc.dwellir.com,wss://acala.polkawallet.io,wss://acala-rpc-0.aca-api.network
KARURA_ENDPOINT=wss://karura-rpc-0.aca-api.network,wss://karura-rpc.dwellir.com,wss://karura-rpc-1.aca-api.network
